:root {
  --background-color: #041421;
  --text-color: #86b9b0;

  --header-background: white;
  --header-text: #86b9b0;
}

body,
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Text Styling */
body a,
body p,
body marquee {
  color: var(--text-color);
}

/* <a> href styling */
a:link {
  color: #f77f00;
}

a:visited {
  color: #f70400;
}

a:active {
  color: #00c2f7;
}
a:hover {
  color: #f70098;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: var(--background-color);
}

/* header {
  background: #35424a;
  color: var(--header-background);
  padding: 2px;
  text-align: center;

  h1 {
    color: var(--header-text);
  }
} */

/* Section Styling */
main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  padding-bottom: 100px;
}

section.LeftContainer {
  background: #041421;
  padding: 1rem;
  border-radius: 25px;
  box-shadow: 0 2px 5px #86b9b0;
  width: 300px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 0.9;
  transition: opacity 0.3s ease-in-out;

  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100px;
    float: none;
    display: block;
  }

  p.Name {
    color: var(--text-color);
    float: center;
    padding: 1px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-weight: bold;
    font-size: 36px;
  }

  p.About {
    font-size: 35px;
    font-weight: bold;
    color: var(--text-color);
    padding: 1rem;
    font-family: Arial, sans-serif;
  }
}

section.LeftContainer:hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
section.RightContainer {
  background: #041421;
  padding: 1rem;
  border-radius: 25px;
  box-shadow: 0 2px 5px var(--text-color);
  width: 100%;
  max-height: 640px;
  margin-bottom: 0;
  opacity: 0.9;
  transition: opacity 0.3s ease-in-out;

  overflow-y: scroll;
  scrollbar-width: none;

  p.Introduction {
    padding-bottom: 0px;
    font-size: 35px;
    font-weight: bold;
    color: var(--text-color);
    font-family: Arial, sans-serif;
    text-decoration: underline;
  }

  p.Explanation {
    font-size: 17px;
    color: var(--text-color);
    padding: 3px;
    font-family: Arial, sans-serif;
    float: left;
    line-height: 1.6;
  }

  ul.List {
    padding: 1.5rem;
    padding-top: 0;
    color: var(--text-color);
  }

  p.Text {
    color: var(--text-color);
    float: left;
    margin-right: 10px;
    padding: 3px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
}
section.RightContainer:hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

footer {
  bottom: 0;
  left: 0;
  width: 99.75%;
  text-align: center;
  padding: 2px;
  background: #35424a;
  color: #c266a7;
  position: fixed;
}
